body {
    background: rgb(219, 219, 219);
    margin: 0;
    
    width: auto;
}

a {
    text-decoration: none;

}

a:visited {
    color: inherit;
    /* Usa lo stesso colore del testo del link normale */
}


.titlepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    
    
}

.select {
    width: 200px;
    height: 30px;
    border-radius: 10px;
}

.input {
    border-radius: 10px;
    width: 250px;
    height: 30px;

}



.titlehero {
    color: white;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 20px;
    margin-bottom: 40px;
}

#cardCategorie {
    border: 1px solid black;
    width: 250px;
    height: 400px;
    text-align: center;
    background-image: url('../img/cafer-mert-ceyhan-LAY19dUD_ro-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* z-index: -1; */
    /* margin: 10px;  */
    /* padding: 20px; */
    /* margin-bottom: 40px; */

}

#cardCategorie.image {
    
    width: auto;
    height: 100px;
    background-size: 100%;
}


h2{
    display: flex;
    justify-content: center;
    align-items: center;
} 

