@media (min-width : 1440px){
    a {
            text-decoration: none;
    
        }
    
        a:visited {
            color: inherit;
       
        }
    .mainheader {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgb(210, 210, 210);
            margin: 0;
            padding-left: 150px;
            padding-right: 150px;
        }
    
        .mainheader img {
            width: 90px;
            height: 90px;
            padding: 10px;
            padding-left: 20px;
        }
    
        .mainheader nav ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: 30px;
        }
    
        .mainheader nav ul li a {
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
        }
    
        .mainheader nav ul li a :visited{
           text-decoration: none;
        }

        .mainheader nav ul li a :hover{
            color: yellow;
        }
    
    
        .login {
            list-style: none;
            font-size: 15px;
            padding: 10px;
        }
        .mainheader .side_bar {
            display: none;

        }
        .mainheader  .menu_navbar {
            display: none;
    
        }
    
    
        .fa-house-user {
            color: rgba(20, 33, 61, 1);
            border: 1px solid rgba(252, 163, 17, 1);
            border-radius: 50px;
            padding: 5px;
        }

}














@media (min-width: 1024px) and (max-width: 1439px) {
        a {
                text-decoration: none;
            }
    
        .mainheader {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgb(210, 210, 210);
            margin: 0;
        }

        .mainheader img{
            width: 90px;
            height: 90px;
            padding: 10px;
            padding-left: 20px;
        }
    
        .mainheader nav ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: 20px;
        }

        .mainheader nav ul li a{
            text-decoration: none;
            font-size: 18px ;
            padding: 10px;
        }

        .mainheader a :visited{
            text-decoration: none;
        }
    

        .login {
            list-style: none;
            font-size: 15px; 
            padding: 10px;
        }

        .mainheader .side_bar {
            display: none;

        }
        .mainheader  .menu_navbar {
            display: none;
    
        }

        

        .fa-house-user{
            color: rgba(20, 33, 61, 1);
            border: 1px solid rgba(252, 163, 17, 1);
            border-radius: 50px;
            padding: 5px;
        }

        

        
        
}


@media (min-width: 768px) and (max-width: 1023px) {

    a {
            text-decoration: none;
    
        }
    
        a:visited {
            color: inherit;
            /* Usa lo stesso colore del testo del link normale */
        }
    .mainheader {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(210, 210, 210);
        margin: 0;
    }



    .mainheader img {
        width: 90px;
        height: 90px;
        padding: 10px;
        padding-left: 40px;
    }

    .mainheader nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 20px;
        
    } 

    .mainheader .side_bar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        z-index: 999;
        background-color: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(50px);
        box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1) ;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        /* padding-top: 40px; */
        display: none;
        
    }
    .mainheader .top_sidebar{
        display: none;
    }

    .mainheader .login{
        display: none;
    }
    
    .mainheader .side_bar .close_menu{
        padding-top: 25px;
        padding-right: 15px;
        margin: 0;
    }

    

    .mainheader .side_bar li{
        width: 100%;
    }

    .mainheader  .menu_navbar {
        height: 40px;
        width: 40px;
        padding-right: 35px;
    }

    .mainheader .side_bar .close_menu{
        height: 35px;
        width: 35px;
        

    }

    .mainheader nav ul li a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
    
    } 

    .mainheader a :visited {
        text-decoration: none;
    }


    .login {
        list-style: none;
        font-size: 15px;
        padding: 10px;
        
    }



    .fa-house-user {
        color: rgba(20, 33, 61, 1);
        border: 1px solid rgba(252, 163, 17, 1);
        border-radius: 50px;
        padding: 5px;
    }





}

@media  (max-width: 767px) {
    a{
        text-decoration: none;
        
    }
    a:visited {
        color: inherit;
            /* Usa lo stesso colore del testo del link normale */
    }
    .mainheader {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(210, 210, 210);
        margin: 0;
    }



    .mainheader img {
        width: 60px;
        height: 60px;
        padding: 5px;
        padding-left: 30px;
    }

    .mainheader nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 20px;

    }

    .mainheader .side_bar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 200px;
        z-index: 999;
        background-color: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        /* padding-top: 40px; */
        display: none;

    }

    .mainheader .top_sidebar {
        display: none;
    }

    .mainheader .login {
        display: none;
    }

    .mainheader .side_bar .close_menu {
        padding-top: 25px;
        padding-right: 45px;
        margin: 0;
    }



    .mainheader .side_bar li {
        width: 100%;
    }

    .mainheader .menu_navbar {
        height: 40px;
        width: 40px;
        padding-right: 35px;
    }

    .mainheader .side_bar .close_menu {
        height: 35px;
        width: 35px;


    }

    .mainheader nav ul li a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px;

    }

    .mainheader a :visited {
        text-decoration: none;
    }


    .login {
        list-style: none;
        font-size: 15px;
        padding: 10px;

    }



    .fa-house-user {
        color: rgba(20, 33, 61, 1);
        border: 1px solid rgba(252, 163, 17, 1);
        border-radius: 50px;
        padding: 5px;
    }
}

    